#QuizTitle{
font-size: 30px;
font-weight: bold;
}
body {
  background-color: white;
  color: black;
  transition: background 0.3s, color 0.3s;
}

body.dark {
  --bg: #121212;
  --text: #f0f0f0;
  --border: #474747;
  --tableborder: #dbdbdb;
  --screenToggleButton: #7ae5ff;
  --SearchArticlesColor: #646464;
  --DigitalClockBackground: #e9e9e9;
}

a{
color: var(--text);
font-size: 25;
font-weight: bold;
border: 12px solid var(--border);
border-radius: 10px;
text-decoration: none;
border-color: var(--border);
background-color: var(--border);
}

:root {
  --bg: #eceff1;
  --text: #121212;
  --border: #e9e8e8;
  --tableborder: #000000;
  --screenToggleButton: #006b86;
  --SearchArticlesColor: #fdfdfd;
  --DigitalClockBackground: #000000;
  --militaryTimeButton: #037f00;
}


p, h1 {
  color: var(--text);
}


body.dark img {
  filter: brightness(0.8) contrast(1.2);
}


body {
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}


