
h1, a, p{
color: black;
}

math{
font-size: 25;
text-align: center;
}

#DigitalClock{
position: absolute;
top: -40;
left: -40;
font-size: 50px;
width: 250px;
margin: 50px;
border: 4px solid var(--DigitalClockBackground);
border-radius: 15px;

}

h1{
text-align: center;
font-size: 70;
font-weight: bold;
}

table, tr, td{
border: 2px solid black;
border-color: var(--tableborder);
border-collapse: collapse;
text-align: center;
font-size: 25;
color: var(--text);
margin-left: auto;
margin-right: auto;
}

#searchInput {
background-color: var(--SearchArticlesColor);
     width: 100%;
     max-width: 600px;
    	  	display: block;
		margin-bottom: 20px;
      		padding: 15px;
  	    	font-size: 18px;
      		border: 1px solid #ccc;
     		 border-radius: 8px;
		transition: 0.3 ease
    }

		    #searchInput:focus {
    		  border-color: var(--SearchArticlesColor)
   		   box-shadow: 0 0 5px rgba(0,123,255,0.3);
   		   outline: none;
    }


:root {
  --bg: #eceff1;
  --text: #121212;
  --border: #ebebeb;
  --tableborder: #000000;
  --screenToggleButton: #006b86;
  --SearchArticlesColor: #fdfdfd;
  --DigitalClockBackground: #000000;
}

body.dark {
  --bg: #121212;
  --text: #f0f0f0;
  --border: #474747;
  --tableborder: #f4f4f4;
  --screenToggleButton: #7ae5ff;
  --SearchArticlesColor: #646464;
  --DigitalClockBackground: #e9e9e9;
}

p{
text-align: center;
font-size: 20px;
}

table, tr, td{
border: 2px solid var(--tableborder);
}

p, h1 {
  color: var(--text);
}


body.dark img {
    filter: brightness(1.1) ;
}

img{
display: block;
margin-left: auto;
margin-right: auto;
}
body {
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}


a{
color: var(--text);
font-size: 25;
font-weight: bold;
border: 12px solid var(--border);
border-radius: 10px;
text-decoration: none;
border-color: var(--border);
background-color: var(--border);
}

a:hover{
color: red;
}

example{
text-align: center;
font-size: 25;
}

#screen-toggle{
color: var(--text);
background: var(--screenToggleButton);
  color: white;
  border: 1px white;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 1em;
  position: absolute;
  top: 50%
  left: 50%
}


.settingbutton1{
margin: 0;
position: absolute;
top: 10%;
left: 5%;
text-align: center
width=200%
}



.settingexit{
margin: 0;
position: absolute;
bottom: 5%;
right: 5%;
text-align: center
width=200%
}