
body.PC p {
  font-size: 25px;
  text-align: center;
}
body.PC h1 {
  font-size: 70px;
  text-align: center;
}
 body.PC a {
  font-size: 40px;
}
body.PC .articles a{
   font-size: 25px;
  }

 body.PC header {
  font-size: 18px;
  text-align: right;
 }
 body.PC #TicTacToeGame {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 15px;
  margin: 50px auto;
}
body.PC .cell {
  background-color: var(--bg);
  border: 4px solid #333;
  font-size: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body.PC #DigitalClock{
position: absolute;
top: -40px;
left: -40px;
font-size: 50px;
width: 300px;
border: 2px solid var(--DigitalClockBackground);
border-radius: 15px;
font-weight: var(--FontWeight);
}

body.PC #DigitalCalendar{
position: absolute;
text-align: center;
top: 20px;
left: -40px;
font-size: 25px;
width: 300px;
border: 2px solid var(--DigitalClockBackground);
border-radius: 15px; 
font-weight: var(--FontWeight);
}




 body.Phone p {
  font-size: 18px;
  text-align: center;
}
body.Phone h1 {
  font-size: 45px;
  text-align: center;
}
 body.Phone a {
  font-size: 45px;
}
body.Phone .articles a{
   font-size: 20px;
  }

 body.Phone header {
  font-size: 15px;
  text-align: right;
 }
 body.Phone #TicTacToeGame {
  display: grid;
  grid-template-columns: repeat(3,4000px);
  grid-template-rows: repeat(3, 400px);
  gap: 30px;
  margin: 100px auto;
}
body.Phone .cell {
  background-color: var(--bg);
  border: 1px solid #333;
  font-size: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body.Phone #DigitalClock{
position: absolute;
top: -40px;
left: -40px;
font-size: 30px;
width: 175px;
border: 2px solid var(--DigitalClockBackground);
border-radius: 15px;
font-weight: var(--FontWeight);
}

body.Phone #DigitalCalendar{
position: absolute;
text-align: center;
top: 0px;
left: -40px;
font-size: 15px;
width: 175px;
border: 2px solid var(--DigitalClockBackground);
border-radius: 15px; 
font-weight: var(--FontWeight);
}

body.Laptop p {
  font-size: 18px;
  text-align: center;
}


body.Laptop a {
  font-size: 35px;
}

body.Laptop .articles a{
   font-size: 20px;
}


body.Laptop #TicTacToeGame {
  display: grid;
  grid-template-columns: repeat(3,4000px);
  grid-template-rows: repeat(3, 400px);
  gap: 30px;
  margin: 100px auto;
}

body.Laptop .cell {
  background-color: var(--bg);
  border: 1px solid #333;
  font-size: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body.Laptop #DigitalClock{
position: absolute;
top: -40px;
left: -40px;
font-size: 50px;
width: 300px;
border: 2px solid var(--DigitalClockBackground);
border-radius: 15px;
font-weight: var(--FontWeight);
}

body.Laptop #DigitalCalendar{
position: absolute;
text-align: center;
top: 20px;
left: -40px;
font-size: 25px;
width: 300px;
border: 2px solid var(--DigitalClockBackground);
border-radius: 15px; 
font-weight: var(--FontWeight);
}

