

body {
      margin: 0;
      font-family: sans-serif;
      height: 100vh;
      display: flex;
      flex-direction: column;
	  background-color: var(--bg);
    }

    h2 {
      padding: 10px;
      margin: 0;
    }

    #container {
      flex: 1;
      display: flex;
      overflow: hidden;
    }

    #output {
      flex: 2;
      border: 2px solid black;
      width: 100%;
	  background-color: #ffffff;
    }

    #editor {
      flex: 1.2;
      display: flex; 
      flex-direction: column;
      border-left: 2px solid #ccc;
    }

    #codeInput {
      flex: 1;
      width: 100%;
      font-family: monospace;
      padding: 10px;
      box-sizing: border-box;
	  
    }

    button {
      padding: 5px;
      font-size: 16px;
      width: 100%;
      border: none;
      color: white;
      cursor: pointer;
    }

   
	
	.highlight {
    color: red;
    font-weight: bold;
  }
  #DigitalClock, #DigitalCalendar{
display: none !important;
}