

body, textarea{
font-size: 17px;
font-family: 'Calibri';
background-color: var(--bg);
color: var(--text);
border-color: var(--border);
}

p{
font-size: 25px;
text-align: center;
}
h1{
font-size: 35px;
text-align: center;
}
a{
font-size: 30px;	
}
mark{
background-color: #FDF89D;	
}

#DigitalClock, #DigitalCalendar{
display: none;
}

body.dark {
  --bg: #121212;
  --text: #f0f0f0;
  --border: #474747;
  --tableborder: #dbdbdb;
  --screenToggleButton: #7ae5ff;
  --SearchArticlesColor: #646464;
  --DigitalClockBackground: #e9e9e9;
}

body.AnalogScreen {
  --bg: #002b01;
  --text: #16ff9c;
  --border: #007102;
  --tableborder: #16ff9c;
  --AnalogScreenButton: #16ff9c;
  --SearchArticlesColor: #00ad0a;
  --DigitalClockBackground: #16ff9c;
  --FontWeight: 900;
  animation: flicker 0.15s infinite;
  text-shadow:
    0 0 5px #39ff14,
    0 0 10px #39ff14,
    0 0 20px #39ff14,
    0 0 40px #0f0,
    0 0 80px #0f0;
}

body.CRTBLUEScreen {
  --bg: #0011aa;
  --text: #d0d0d0;
  --border: #000d7f;
  --tableborder: #d0d0d0;
  --CRTBlueScreenButton: #16ff9c;
  --SearchArticlesColor: #0011aa;
  --DigitalClockBackground:  #d0d0d0;
  --FontWeight: 900;
  animation: flicker 0.15s infinite;
  text-shadow: none;
  
}
:root {
  --bg: #eceff1;
  --text: #121212;
  --border: #e9e8e8;
  --tableborder: #000000;
  --screenToggleButton: #006b86;
  --militaryTimeButton: #037f00;
  --AnalogScreenButton: #129426;
  --CRTBlueScreenButton: #5f6bf3;
  --SearchArticlesColor: #fdfdfd;
  --DigitalClockBackground: #000000;
  --FontWeight: 400;
 
}

table, tr, td{
		border: 2px solid var(--tableborder);
		font-size: 25;
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
}

course{
font-size: 25px;
position: absolute;
top: 0%;
}