
 
#searchInput {
background-color: var(--SearchArticlesColor);
font-weight: var(--FontWeight);
     width: 100%;
     max-width: 600px;
    	  	display: block;
		margin-bottom: 20px;
      		padding: 15px;
  	    	font-size: 18px;
      		border: 1px solid #ccc;
     		 border-radius: 8px;
		transition: 0.3 ease
    }

		    #searchInput:focus {
    		  border-color: var(--SearchArticlesColor)
   		   box-shadow: 0 0 5px rgba(0,123,255,0.3);
   		   outline: none;
    }


#screen-toggle{
background: var(--screenToggleButton);
  color: white;
  border: 1px white;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
}

#millitary-time-button{
background-color: var(--militaryTimeButton);
  color: white;
  border: 1px white;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
}


#analog-screen-button{
background: var(--AnalogScreenButton);
  color: white;
  border: 1px white;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
}

#CRTBLUE-screen-button{
background: var(--CRTBlueScreenButton);
  color: white;
  border: 1px white;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
} 

#dashed-calendar-button{
background: var(--dashedCalendarButton);
  color: white;
  border: 1px white;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 1em;
  position: absolute;
  top: 50%;
  left: 50%;	
}
#squidGame-screen-button{
background: var(--squidGameScreenButton);
  color: white;
  border: 1px white;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
}

#chaos-screen-button{
background: var(--chaoScreenButton);
  color: white;
  border: 1px white;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
}

#image-inversion-button{
background: var(--ImageInvertButton);
  color: var(--ImageInvertTextColor);
  border: 1px white;
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
}

body a{
font-weight: bold;
border-radius: 10px;
border: 12px solid var(--border);
text-decoration: none;
background-color: var(--border);
}

.exitButton{
	font-size: 25px !important;
	padding: 5px; !important
}

.settingbutton1{
margin: 0;
position: absolute;
top: 16%;
left: 5%;
text-align: center;
}

.settingbutton2{
margin: 0;
position: absolute;
top: 16%;
left: 30%;
text-align: center;
}

.settingbutton3{
margin: 0;
position: absolute;
top: 24%;
left: 5%;
text-align: center;
}

.settingbutton4{
margin: 0;
position: absolute;
top: 32%;
left: 5%;
text-align: center;
}

.settingbutton5{
margin: 0;
position: absolute;
top: 24%;
left: 30%;
text-align: center;
}

.settingbutton6{
margin: 0;
position: absolute;
top: 40%;
left: 5%;
text-align: center;
}

.settingbutton7{
margin: 0;
position: absolute;
top: 48%;
left: 5%;
text-align: center;
}

.labelSettingButton8{
position: absolute;
top: 32%;
left: 42%;
}

body.Phone .labelSettingButton8{
	position: absolute;
	top: 32%;
	left: 45%;	
}

.settingbutton8{
margin: 0;
position: absolute;
top: 32%;
left: 30%;
text-align: center;
}
body.Laptop .settingbutton1{
margin: 0;
position: absolute;
top: 24%;
left: 7.5%;
text-align: center;
}

body.Laptop .settingbutton2{
margin: 0;
position: absolute;
top: 24%;
left: 45%;
text-align: center;
}

body.Laptop .settingbutton3{
margin: 0;
position: absolute;
top: 36%;
left: 7.5%;
text-align: center;
}

body.Laptop .settingbutton4{
margin: 0;
position: absolute;
top: 48%;
left: 7.5%;
text-align: center;
}

body.Laptop .settingbutton5{
margin: 0;
position: absolute;
top: 36%;
left: 45%;
text-align: center;
}	

body.Laptop .settingbutton6{
margin: 0;
position: absolute;
top: 60%;
left: 7.5%;
text-align: center;
}

body.Laptop .settingbutton7{
margin: 0;
position: absolute;
top: 72%;
left: 7.5%;
text-align: center;
}

body.Laptop .settingbutton8{
margin: 0;
position: absolute;
top: 48%;
left: 45%;
text-align: center;
}

body.Laptop .labelSettingButton8{
position: absolute;
top: 48%;
left: 63%;
}

























