
 
#searchInput {
background-color: var(--SearchArticlesColor);
font-weight: var(--FontWeight);
     width: 100%;
     max-width: 600px;
    	  	display: block;
		margin-bottom: 20px;
      		padding: 15px;
  	    	font-size: 18px;
      		border: 1px solid #ccc;
     		 border-radius: 8px;
		transition: 0.3 ease;
    }

		    #searchInput:focus {
    		  border-color: var(--SearchArticlesColor);
   		   box-shadow: 0 0 5px rgba(0,123,255,0.3);
   		   outline: none;
    }

.settingButton {
	background: var(--ImageInvertButton);
	color: white;
	border: 1px white;
	padding: 0.5em 1em;
	margin: 1em;
	width: 15vw;
	height: 7.5vh;
	font-size: calc(0.25 * 1vw + 0.5em);
}

#screenTypes{
	border: 2px solid var(--border);
	width: 20vw;
	height: auto;
	position: absolute;
	top: 20vh;
	left: 10vw;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#calendarSettings{
	border: 2px solid var(--border);
	width: 20vw;
	height: auto;
	position: absolute;
	top: 20vh;
	left: 35vw;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#otherSettings{
	border: 2px solid var(--border);
	width: 20vw;
	height: auto;
	position: absolute;
	top: 20vh;
	left: 60vw;
	display: flex;
	flex-direction: column;
	text-align: center;
}

body a{
font-weight: bold;
border-radius: 10px;
border: 12px solid var(--border);
text-decoration: none;
background-color: var(--border);
}

.exitButton{
	font-size: 25px !important;
	padding: 5px; !important
}

#clear-local-storage-button:active {
	background-color: #8dcd5b !important;
}
























