.summaryHeading{
	font-size: 35px;
	text-align: center;
	margin-top: 5rem;
}

.summary{
	display: flex;
	justify-content: center;
}

.summarySection{
	border: 3px solid var(--border);
	width: 800px;
	padding: 15px;
}



mark{
background-color: #FDF89D;	
}
body.dark mark{
color: var(--text);
background-color: var(--bg);
text-decoration: underline;
text-decoration-color: #FDF89D;
}

* {
  box-sizing: border-box;
}

math{
font-size: 25px;
text-align: center;
}



p{
text-align: center;
font-size: 25px;
}

img{
display: block;
margin-left: auto;
margin-right: auto;
}


a:hover{
color: red;
}

/* Headings */
h1 {
	text-align: center;
	font-size: 70px;
	font-weight: bold;
}

h2 {
	font-weight: bold;
	font-size: 25px;
}

h3 {
	font-weight: bold;
	font-size: 20px;
}

h4 {
	text-decoration: underline;
	font-size: 17px;
}

h5 {
	text-decoration: underline;
	font-size: 15px;
}

h6 {
	font-size: 14px;
}






