
mark{
background-color: #FDF89D;	
}
body.dark mark{
color: var(--text);
background-color: var(--bg);
text-decoration: underline;
text-decoration-color: #FDF89D;
}

* {
  box-sizing: border-box;
}

math{
font-size: 25px;
text-align: center;
}

#DigitalClock{
position: absolute;
top: 45px;
left: 50px;
font-size: 50px;
width: 250px;
border: 4px solid var(--DigitalClockBackground);
border-radius: 15px;

}
#DigitalCalendar{
position: absolute;
top: 15px;
left: -40px;
font-size: 50px;
width: 250px;
border: 4px solid var(--DigitalClockBackground);
border-radius: 15px;
}



p{
text-align: center;
font-size: 25px;
}

img{
display: block;
margin-left: auto;
margin-right: auto;
}


a:hover{
color: red;
}

/* Headings */
h1 {
	text-align: center;
	font-size: 70px;
	font-weight: bold;
}

h2 {
	font-weight: bold;
	font-size: 25px;
}

h3 {
	font-weight: bold;
	font-size: 20px;
}

h4 {
	text-decoration: underline;
	font-size: 17px;
}

h5 {
	text-decoration: underline;
	font-size: 15px;
}

h6 {
	font-size: 14px;
}






