.containerChild {
	display: grid;
	border: 1px solid gray;
	grid-template-columns: repeat(3, 1fr);
}

.numberDiv {
	border: 1px solid grey;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	width: 100px;
	height: 100px;
	transition: background-color 0.3s;
}

#container {
	width: 900px;
	height: 900px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

input {
	background-color: inherit !important;
	border: none;
	width: 95%;
	height: 95%;
	text-align: center;
	font-size: 35px !important;
}

