@import url("../CSS/LightwebThemes.css");
body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  
}


h1 {
  font-size: 4.5rem;
  color: #000;
}

.status {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.3);
  margin:  5px;
}


.Connect4Board{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  background-color: #0066cc;
  padding: 20px;
  border-radius: 10px;
  border: 10px solid #0055aa;
}

.cell {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  
}

.Connect4Board .cell.red {
  background-color: #ff4136;
  transition: background 0.3s;
  box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.6);
}

.Connect4Board .cell.yellow {
  background-color: #ffdc00;
  transition: background 0.3s;
  box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.6);
}

.yellow-selected {
  background-color: #ffdc00;
}

.red-selected {
  background-color: #ff4136;
}

#resetGame {
  padding: 10px 20px;
  background-color: #060606;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

#resetGame:hover {
  background-color: #383938;
}

#e {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.Connect4Buttons{
padding: 15px;
}

#DigitalClock{
position: absolute;
top: 100px !important;
left: 100px !important;
font-size: 50px;
width: 300px;
border: 2px solid var(--DigitalClockBackground);
border-radius: 15px;
font-weight: var(--FontWeight);
}

#DigitalCalendar{
position: absolute;
text-align: center;
top: 160px !important;
left: 100px !important;
font-size: 25px;
width: 300px;
border: 2px solid var(--DigitalClockBackground);
border-radius: 15px; 
font-weight: var(--FontWeight);
}
