@import url("../CSS/LightwebThemes.css");
body {
  text-align: center;
}

#snakeBoard{
	border: 6px solid var(--border);
}

#exit{
	padding: 5px;
	font-size: 35px;
}

#highscore{
	position: absolute;
	top: -20px;
	left: 5px;
	font-size: 25px !important;
}
#currentScore{
	position: absolute;
	top: 5px;
	left: 5px;
}
#DigitalClock{
position: absolute;
top: 0px !important;
left: 940px !important;
font-size: 50px;
width: 300px;
border: 2px solid var(--DigitalClockBackground);
border-radius: 15px;
font-weight: var(--FontWeight);
}

#DigitalCalendar{
position: absolute;
text-align: center;
top: 60px !important;
left: 940px !important;
font-size: 25px;
width: 300px;
border: 2px solid var(--DigitalClockBackground);
border-radius: 15px; 
font-weight: var(--FontWeight);
}

