@import url("../CSS/LightwebThemes.css");
body {
  text-align: center;
}

#snakeBoard{
	border: 6px solid var(--border);
}

#exit{
	padding: 5px;
	font-size: 35px;
}

#mobileControls{
	position: absolute;
	top: 400px;
	left: 200px;
}



#upInput, #downInput, #leftInput, #rightInput{
	border: 10px solid var(--border);
	border-radius: 200px;
	margin-left: 40px;
	margin-right: 40px;
	width: 125px;
	padding: 15px;
	font-size: 65px;
}

#DigitalClock{
position: absolute;
top: 0px !important;
left: 1590px !important;
font-size: 50px;
width: 300px;
border: 2px solid var(--DigitalClockBackground);
border-radius: 15px;
font-weight: var(--FontWeight);
}

#DigitalCalendar{
position: absolute;
text-align: center;
top: 60px !important;
left: 1590px !important;
font-size: 25px;
width: 300px;
border: 2px solid var(--DigitalClockBackground);
border-radius: 15px; 
font-weight: var(--FontWeight);
}

