@import url("../CSS/LightwebThemes.css");
#PlayerXScore{
position: fixed;
top: 10px;
left: 100px;
font-size: 30px;
width: 250px;
border: 2px solid var(--border);
border-radius: 30px;
}
#PlayerYScore{
position: fixed;
top: 10px;
right: 100px;
font-size: 30px;
width: 250px;
border: 2px solid var(--border);
border-radius: 30px;
}
#PlayerZScore{
position: fixed;
top: 10px;
font-size: 30px;
width: 250px;
border: 2px solid var(--border);
border-radius: 30px;
}
body{
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
    h1 {
      margin-bottom: 20px;
    }


























