@import url("LightwebThemes.css");
#PlayerXScore{
position: fixed;
top: 10px;
left: 100px;
font-size: 30px;
width: 250px;
border: 2px solid var(--border);
border-radius: 30px;
}
#PlayerOScore{
position: fixed;
top: 10px;
right: 100px;
font-size: 30px;
width: 250px;
border: 2px solid var(--border);
border-radius: 30px;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
    h1 {
      margin-bottom: 20px;
    }

#PlayerXScore{
position: fixed;
top: 10px;
left: 100px;
font-size: 30px;
width: 250px;
border: 2px solid var(--border);
border-radius: 30px;
text-align: center;
}
#PlayerOScore{
position: fixed;
top: 10px;
right: 100px;
font-size: 30px;
width: 250px;
border: 2px solid var(--border);
border-radius: 30px;
text-align: center;
}

  
#TicTacToeGame {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 15px;
  margin: 50px auto;
}
.cell {
  background-color: var(--bg);
  border: 4px solid var(--text);
  font-size: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}






















