#wordleBoard{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.letter{
	border: 2px solid var(--border);
	border-radius: 3px;
	margin: 2px;
	font-size: 2.5rem;
	height: 100px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 800;
	color: black;
	text-shadow: none;
	
}

.rows{
	display: flex;
}

#keyboard{
	margin: 1rem 0;
	display: flex;
	flex-direction: column; 
	align-items: center;
}
#keyboard div {
	display: flex;
}

#keyboard #secondRow {
	margin: 0.5rem 0;
}

.keyboardButton{
	font-size: 2rem;
	font-weight: 700;
	padding: 1rem;
	margin: 0 2px;
	cursor: pointer;
	text-transform: uppercase;
}

body{
	font-family: Helvetica;
}

#reset{
	display: flex;
	padding: 5px;
	font-size: 2rem;
	text-align: center;
}

.boxFilled {
	border: 4px solid var(--border);
}

#originalLink{
	border: none !important;
	background-color: var(--bg) !important;
	font-size: 2rem;
	color: blue;
	text-decoration: underline;
	text-align: center;
	text-shadow: none;
}